@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Manrope', sans-serif;
    width:100%;
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(218, 23%, 16%);
    font-size:28px;
}
.container{
    max-width:280px;
    padding:20px;
    text-align: center;
    background:red;
    border-radius: 10px;
    background-color: hsl(217, 19%, 24%);
}
#adv-id
{
    color:hsl(150, 100%, 66%);
    font-size:0.6rem;
    letter-spacing: 2px;
}
h2{
    font-size:0.9rem;
    color:hsl(193, 38%, 86%);
    margin:10px 0px;
}

.container .line
{
    width: 100%;
    background-color: red;
    border-top:1px solid black;
}
.container img{
    width:100%;
}
.container .btn{
    cursor:pointer;
    width:30px;
    height:30px;
    border-radius:50%;
    background-color:hsl(150, 100%, 66%);
    position:relative;
    margin:10px auto;
    margin-bottom:-35px;

}
.btn img{
    width:13px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    cursor:pointer;
}
